<section>

    <div class="nav-scroller bg-white shadow-sm">
        <nav class="container nav nav-underline">
            <a class="nav-link active" [routerLink]="['home']" routerLinkActive="active">Todos los eventos</a>
            <a class="nav-link" [routerLink]="['host']" routerLinkActive="active">Organizador</a>
            <a class="nav-link" [routerLink]="['attend']" routerLinkActive="active">Asistente</a>
            <a class="nav-link" [routerLink]="['fav']" routerLinkActive="active">Favoritos</a>
        </nav>
    </div>

    <main role="main" class="container">
        <router-outlet></router-outlet>
    </main>
</section>