<div class="container" *ngIf="event">

    <div class="row align-items-center my-5">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="../../../../assets/img/jump.jpg" alt="">
        </div>

        <div class="col-lg-5">
            <h1 class="font-weight-light">{{event.name}}</h1>
            <p>{{event.description_short}}</p>
            <p>Fecha de comienzo - {{event.date_start | date:"dd MMM. YYYY"}}</p>
            <p>Fecha de fin - {{event.date_end | date:"dd MMM. YYYY"}}</p>
            <p>Organizado por {{event.company_name}}</p>
            <p>{{event.address}}</p>
            <a class="btn btn-primary" href="#">Inscribirme a este evento</a>
        </div>
    </div>

</div>