<section>
    <div class="login-header">
        <svg xmlns="http://www.w3.org/2000/svg" fill="#3ec9cc" class="bi bi-person-circle mt-3 mb-1"
            viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
        </svg>
        <h4>¡Te damos la bienvenida de nuevo!</h4>
        <p>Inicia sesión</p>
    </div>
    <div class="col-lg-4 offset-lg-4 col-md-10 offset-md-1 col-sm-10 offset-sm-1">
        <div class="form">
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <label class="col-form-label ml-1">Email</label>
                <div class="mb-1 mx-1">
                    <input type="email" class="form-control" placeholder="ejemplo@ejemplo.com" formControlName="email">
                </div>
                <label class="col-form-label ml-1">Contraseña*</label>
                <div class="mb-1 mx-1">
                    <input type="password" class="form-control" placeholder="Introducir contraseña"
                        formControlName="password">
                </div>
                <div class="my-2 mx-1">
                    <button type="submit" [disabled]="!formulario.valid"
                        class="btn btn-primary btn-block">Registrarme</button>
                    <small class="form-text text-muted" *ngIf="!formulario.valid">
                        Datos de acceso incorrectos. Porfavor revisa tu email y contraseña
                    </small>
                </div>
            </form>
        </div>
    </div>
    <div class="login-footer">
        <p>¿Aún no tienes una cuenta? <a (click)="onClickRegister('register')">Regístrate ahora</a></p>
    </div>
</section>