@import url(../../../../../src/styles.scss);

section{
    min-height: 70vh;
    margin-top: 60px !important;
    color: var(--main-dark-color) !important;
}

.login-header,
.login-footer{
    margin-top: 20px;
    text-align: center;
}

.bi-person-circle{
    width: 50px;
    height: 50px;
}
.form {
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: .125rem;
    background-color: #f4f7f6 ;
}

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
    padding-right: 5px;
    padding-left: 0px;
}

label{
    font-size: 0.8rem;
    color: var(--main-dark-color) !important;
}

.form-control {
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 0.8rem;
	font-weight: 100;
	line-height: 1.5;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .125rem;
}

.form-control:focus{
    border: 2px solid var(--main-color) !important;
}

input[type="text"], textarea {
    outline: none;
    box-shadow:none !important;
    border: 1px solid #ccc !important;
}

::placeholder { 
    color: #636769;
    opacity: 1;
    font-weight: 100;
    font-size: 0.7rem !important;
 }

 .login-footer p a{
    text-decoration: underline;
    color: var(--main-color);
    cursor: pointer;
 }

 .btn-primary{
    border: none;
	border-radius: .125rem;
    background-color: var(--main-color);
    box-shadow: none;
 }


 // Errores formulario

small.text-muted {
    padding-left: 2px;
    color: #cd503a !important;
    font-size: 0.6rem;
    font-weight: 400;
}

input.ng-invalid.ng-touched{
    border-color: #cd503a !important;
}