<section>
    <div class="container">


        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-10 offset-sm-1">
            <h2 mt-3>Crea tu evento online</h2>
            <p>Completa la información básica y detalles de tu evento</p>
            <form *ngIf="event" [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form-basic-info">
                <mat-vertical-stepper formArrayName="formArray" [linear]="isLinear" #stepper>
                    <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">

                        <ng-template matStepLabel>Datos principales del evento</ng-template>
                        <p>No te preocupes, siempre puedes volver a editar todos los datos del evento</p>
                        <mat-form-field class="full-width">
                            <mat-label>Nombre del evento</mat-label>
                            <input matInput #message maxlength="256" placeholder="Elige un nombre para tu evento"
                                formControlName="name" required>
                            <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                        </mat-form-field>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <mat-form-field appearance="fill">
                                    <mat-label>Tipo de evento</mat-label>
                                    <mat-select formControlName="category">
                                        <mat-option *ngFor="let category of categories" [value]="category">
                                            {{category}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field appearance="fill">
                                    <mat-label>Fecha del evento</mat-label>
                                    <mat-date-range-input [rangePicker]="picker">
                                        <input matStartDate placeholder="Start date" formControlName="date_start">
                                        <input matEndDate placeholder="End date" formControlName="date_end">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>
                                </mat-form-field>
                            </div>
                        </div>
                        <mat-form-field appearance="fill">
                            <mat-label>Descripción resumen del evento</mat-label>
                            <textarea matInput formControlName="description_short" cdkTextareaAutosize
                                #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
                                cdkAutosizeMaxRows="5"></textarea>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Empresa organizadora</mat-label>
                            <input matInput formControlName="company_name">
                        </mat-form-field>

                        <div class="my-4">
                            <p>Información de contacto</p>
                            <mat-hint align="start">Añade un email o teléfono de contacto para que los asistentes puedan
                                contactar contigo.
                            </mat-hint>
                            <mat-form-field appearance="fill">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="email">
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Télefono</mat-label>
                                <input matInput formControlName="phone">
                            </mat-form-field>
                        </div>


                        <div class="my-3">
                            <p>Modalidad del evento</p>
                            <mat-radio-group formControlName="modality">
                                <mat-radio-button class="mr-3" value="online">Online</mat-radio-button>
                                <mat-radio-button value="presencial">Presencial</mat-radio-button>
                            </mat-radio-group>
                        </div>

                        <div class="my-4">
                            <mat-hint align="start"><strong>Completa la dirección cuando tu evento sea
                                    presencial:</strong>
                            </mat-hint>

                            <mat-form-field appearance="fill">
                                <mat-label>Dirección</mat-label>
                                <input matInput formControlName="address">
                                <mat-hint align="start">Indica calle y número
                                </mat-hint>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Ciudad</mat-label>
                                <input matInput formControlName="city">
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Pais</mat-label>
                                <input matInput formControlName="country">
                            </mat-form-field>
                        </div>
                        <!-- If Online is selected : add disabled property to inputs adress -->


                        <div>
                            <button type="button" class="mt-3" mat-raised-button matStepperNext>Siguiente</button>
                        </div>

                    </mat-step>
                    <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">

                        <ng-template matStepLabel>Página del evento</ng-template>
                        <mat-form-field appearance="fill">
                            <mat-label>Imagen de evento principal (url)</mat-label>
                            <input matInput formControlName="img">
                            <mat-hint align="start">Tamaño de la imagen 900x400
                            </mat-hint>
                        </mat-form-field>

                        <div class="mat-form-field-wrapper mt-4">
                            <mat-label>Descripción completa del evento</mat-label>
                            <editor apiKey="6xspxuk992loiakphoo8w56vvz7tv5haap8kfsaj91miibgi"
                                formControlName="description_long" class="mat-elevation-z1" [init]="{
                                icons: 'material',
                                skin: 'borderless',
                                plugins: 'wordcount',
                                menubar: false,
                                font_size: 13,
                                min_height: 200
                              }">
                            </editor>
                        </div>

                        <mat-form-field appearance="fill">
                            <mat-label>URL propia del evento</mat-label>
                            <input matInput formControlName="url_extension">
                            <mat-hint align="start">No debe contener espacios ni simbolos.
                                > events/ejemplo-uno
                            </mat-hint>
                        </mat-form-field>

                        <div>
                            <button type="button" mat-button mat-raised-button matStepperPrevious class="mr-3">Volver
                                atrás</button>
                            <button type="button" mat-button mat-raised-button matStepperNext>Siguiente</button>
                        </div>
                    </mat-step>


                    <mat-step formGroupName="2" [stepControl]="formArray?.get([2])">

                        <ng-template matStepLabel>Añadir salas</ng-template>
                        <mat-hint align="start">Si tu evento es online deberás añadir al menos una sala.
                        </mat-hint>
                        <p class="mt-3"><strong>Sala 1</strong> </p>
                        <mat-form-field appearance="fill">
                            <mat-label>Titulo de la sala</mat-label>
                            <input matInput formControlName="room_title1">
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Instrucciones de la sala</mat-label>
                            <textarea matInput formControlName="room_description1" cdkTextareaAutosize
                                #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
                                cdkAutosizeMaxRows="5"></textarea>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Link</mat-label>
                            <input matInput formControlName="room_link1">
                        </mat-form-field>
                        <p class="mt-3"><strong>Sala 2</strong> </p>
                        <mat-form-field appearance="fill">
                            <mat-label>Titulo de la sala</mat-label>
                            <input matInput formControlName="room_title2">
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Instrucciones de la sala</mat-label>
                            <textarea matInput formControlName="room_description2" cdkTextareaAutosize
                                #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
                                cdkAutosizeMaxRows="5"></textarea>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Link</mat-label>
                            <input matInput formControlName="room_link2">
                        </mat-form-field>


                        <button mat-button matStepperPrevious class="mr-3 mb-5">Añadir otra sala</button>
                        <div>
                            <button type="button" mat-button mat-raised-button matStepperPrevious class="mr-3">Volver
                                atrás</button>
                            <button type="button" mat-button mat-raised-button matStepperNext>Siguiente</button>
                        </div>

                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Crear evento</ng-template>
                        <p class="my-3"><strong>¡Has terminado!</strong></p>
                        <p>Haz click en confirmar para crear tu evento</p>
                        <div>
                            <button mat-button mat-raised-button matStepperPrevious class="mr-3 mb-5">Volver
                                atrás</button>
                            <button type="submit" mat-button mat-raised-button class="confirm mb-5">Confirmar</button>
                        </div>
                    </mat-step>

                </mat-vertical-stepper>
            </form>

        </div>
    </div>
</section>