section{
    margin-top: 90px !important;
}

.form-basic-info {
  min-width: 150px;
  max-width: 100%;
}

.full-width {
  width: 100%;
}
.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
  width: 100%;
}

h2{
  font-weight: 600;
}

.confirm{
  background-color: var(--main-color) !important ;
  color: white !important;
}