<div class="container" *ngIf="event">


    <div class="row align-items-center my-5">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" [src]="[event.img]" alt="">
        </div>

        <div class="col-lg-5">
            <h1 class="font-weight-light">{{event.name}}</h1>
            <p>{{event.description_short}}</p>
            <a class="btn btn-primary" [routerLink]="['#rooms']">Ver más</a>
        </div>

    </div>

    <div class="card mb-5">
        <div class="card-header">
            Detalles del evento
        </div>
        <div class="card-body">
            <p class="card-text" [innerHTML]="event.description_long"></p>
        </div>
    </div>

    <h2>Salas del evento</h2>

    <div class="row row-cols-1 row-cols-md-3" id="rooms">
        <div class="cards">
            <app-rooms [evento]="event"></app-rooms>
        </div>
    </div>


</div>