@import url(../../../../../src/styles.scss);

nav>div>a>img{
    width: 160px; 
    height: 20px;
    margin-bottom: 10px;
}

nav{
    transition: 0.5s;
}

.nav-link{
    color: var(--main-dark-color) !important;
}

.nav-link.active,
.txt-light .nav-link.active{
    color: var(--main-color) !important;
}

.txt-light a{
    color: white !important;
}

a{
    transition: 0.2s;
}

a:hover,
.txt-light a:hover{
    text-decoration: underline;
    color: var(--main-color) !important;
}



