@import url(../../../../../src/styles.scss);

.card-body .card-title{
    font-size: 1.125rem !important;
    font-weight: var(--f-weight-m);
}
.card-body .card-text{
    color: var(--main-color);
}
.card-body .company {
    color: #212529;
}

/* Imagenes */
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-body{
    position: relative;
    overflow: hidden;
    height: 150px;
}

.card-body:hover{
    background-color: #f3f3f3;
}

.card-content{
    transition: 0.2s;
    cursor: pointer;
}

.icon{
    position: absolute;
    top:5px;
    right: 0px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    z-index: 10;
}

strong{
    font-weight: 600;
}




