<section>
    <div class="register-header">
        <svg xmlns="http://www.w3.org/2000/svg" fill="#3ec9cc" class="bi bi-person-circle mt-3 mb-2"
            viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
        </svg>
        <h4>¡Te damos la bienvenida!</h4>
        <p>Crea una cuenta para comenzar</p>
    </div>
    <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-sm-10 offset-sm-1">
        <div class="form">
            <div class="row mb-3 mx-1">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-5 mb-2">
                    <input type="text" class="form-control" placeholder="Nombre">
                </div>
                <div class="col-sm-5 mb-2">
                    <input type="text" class="form-control" placeholder="Apellidos">
                </div>
            </div>
            <div class="row mb-1 mx-2">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10 mb-2">
                    <input type="text" class="form-control" placeholder="ejemplo@ejemplo.com">
                </div>
            </div>
            <div class="row mb-3 mx-2">
                <div class="col-sm-10 offset-sm-2 mb-2">
                    <input type="text" class="form-control" placeholder="Repetir email">
                </div>
            </div>
            <div class="row mb-3 mx-1">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Contraseña</label>
                <div class="col-sm-5 mb-2">
                    <input type="text" class="form-control" placeholder="Introducir contraseña">
                </div>
                <div class="col-sm-5 mb-2">
                    <input type="text" class="form-control" placeholder="Repetir contraseña">
                </div>
            </div>
            <div class="row mb-3 mx-1">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Móvil</label>
                <div class="col-sm-2 mb-2">
                    <input type="text" class="form-control" placeholder="Código">
                </div>
                <div class="col-sm-8 mb-2">
                    <input type="text" class="form-control" placeholder="Número de teléfono">
                </div>
            </div>
            <div class="row mb-1 mx-1">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Dirección</label>
                <div class="col-sm-10 mb-2">
                    <input type="text" class="form-control" placeholder="Dirección de la calle">
                </div>
            </div>
            <div class="row mb-3 mx-1">
                <div class="col-sm-4 offset-sm-2 mb-2">
                    <input type="text" class="form-control" placeholder="Ciudad">
                </div>
                <div class="col-sm-4 mb-2">
                    <input type="text" class="form-control" placeholder="Pais">
                </div>
                <div class="col-sm-2 mb-2">
                    <input type="text" class="form-control" placeholder="CP">
                </div>
            </div>
            <div class="row mb-1 mx-1">
                <button class="btn btn-primary btn-block">Registrarse</button>
            </div>

        </div>
    </div>
    <div class="register-footer">
        <p>¿Ya tienes una cuenta? <a>Inicia sesión ahora</a></p>
    </div>
</section>