<section class="hero">
    <div class="container-fluid">
        <div class="row">
            <div class="container justify-content-center">
                <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12 col-xs-12">
                    <h1>Crea tu evento online</h1>
                    <p>Podrás diseñar tu evento corporativo en línea o asistir a los eventos más interesantes. Ferias,
                        competiciones, conferencias, talleres…
                    </p>
                    <p><a [routerLink]="['login']" routerLinkActive="active" class="btn btn-primary">Saber más</a></p>
                </div>
            </div>
        </div>
    </div>
</section>