@import url(../../../../../src/styles.scss);

.hero {
  margin-top: 50px !important;
  color: white;
  width:100%;
  height:500px;
  background: 
  linear-gradient(
    #00000099 , 
    #00000099),
  url(../../../../assets/img/event-happy-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}

.container{
  margin-top: 150px !important;
  font-weight: --f-weight-m;
  display: flex;
  flex-direction: column;
  text-align: center;
}

p{
  font-size: 1.2rem !important;
}


