<div class="my-3 pb-3 bg-white rounded shadow-sm">
    <p class="card-header">Eventos pendientes</p>
    <div class="container" *ngFor="let eventFav of eventsFav">
        <div class="card my-4">
            <div class="row g-0">
                <div class="col-md-10">
                    <div class="card-body">
                        <div class="w-100">
                            <p class="card-title">{{eventFav.name}}</p>
                        </div>
                        <p class="card-text">{{eventFav.company_name}}</p>
                        <p class="card-text">{{eventFav.date_start | date:"dd MMM. YYYY"}}</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <a class="btn-view" (click)="onClickDetails(eventFav.id)">Ver detalles</a>
                    <a class="btn-delete" (click)="deleteFav(eventFav.id)">Quitar de favoritos</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="my-3 pb-3 bg-white rounded shadow-sm">
    <p class="card-header">Eventos finalizados</p>
    <div class="container" *ngFor="let eventFavExpired of eventsFavExpired">
        <div class="card my-4">
            <div class="row g-0">
                <div class="col-md-10">
                    <div class="card-body">
                        <div class="w-100">
                            <p class="card-title">{{eventFavExpired.name}}</p>
                        </div>
                        <p class="card-text">{{eventFavExpired.date_start | date:"dd MMM. YYYY"}}</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <a class="btn-delete" (click)="deleteFav(eventFavExpired.id)">Quitar de favoritos</a>
                </div>
            </div>
        </div>
    </div>
</div>