<div class="event-card" *ngIf="evento.room_title1">
    <div class="col mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">{{evento.room_title1}}</h2>
                <p class="card-text">{{evento.room_description1}}</p>
            </div>
            <div class="card-footer">
                <a href={{evento.room_link1}} target="_blank" class="btn btn-primary btn-sm">Entrar en la
                    sala</a>
            </div>
        </div>
    </div>
</div>
<div class="event-card" *ngIf="evento.room_title2">
    <div class="col mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">{{evento.room_title2}}</h2>
                <p class="card-text">{{evento.room_description2}}</p>
            </div>
            <div class="card-footer">
                <a href={{evento.room_link2}} target="_blank" class="btn btn-primary btn-sm">Entrar en la
                    sala</a>
            </div>
        </div>
    </div>
</div>