<section>
    <div class="container pt-5">
        <h2>Eventos populares</h2>
        <ul class="nav nav-tabs mb-4">
            <li class="nav-item">
                <a class="nav-link active">Active<span class="badge badge-primary">13</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <div class="row row-cols-1 row-cols-md-3">
            <div class="cards" *ngFor="let event of arrEvents" (click)="getEvent(event?.id)">
                <app-card-event [evento]="event"></app-card-event>
            </div>
            <!-- if click quiero que muestre <app-detail></app-detail> con el detalle del evento sobre el que hago click,  como si fuese un alert-->
        </div>
    </div>
</section>