<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['main']" routerLinkActive="active">
            <- Ir a otros eventos </a>
                <div class="navbar-nav">

                    <a class="nav-link" [routerLink]="['home']" routerLinkActive="active">Home</a>

                    <a class="nav-link" [routerLink]="['home']" routerLinkActive="active">Salas</a>

                </div>
    </div>
</nav>