<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<h1>Hola</h1>
<h2>Que tal</h2>
<h3>Como estas</h3>
<h4>Yo bien y tu</h4>
<h5>genial</h5>
<button class="btn btn-primary">hola</button>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus debitis, dolores eveniet eaque dicta reprehenderit
    veniam atque molestiae ullam blanditiis suscipit porro, odio modi provident mollitia placeat corporis asperiores,
    consequatur ab? Vitae repellendus eum temporibus, ea commodi in quod blanditiis libero magnam nostrum, quis
    similique, vero laborum voluptas rerum nam optio ex aspernatur doloremque. Totam eum impedit illo dolorem, iusto
    minima explicabo repudiandae. Beatae dolorem expedita quis nostrum magni. Ex quod minus dolorem hic delectus nam
    facilis voluptas, obcaecati consequuntur magni accusamus officia commodi ea cumque possimus corporis at tempora
    expedita eum sed provident id. Itaque temporibus facilis rem perspiciatis necessitatibus quisquam earum possimus
    provident deleniti, voluptas eveniet nobis nesciunt id sed error, commodi dolor. Rerum, quidem perspiciatis unde ea
    debitis maxime assumenda delectus fuga ad? Ipsum, nemo dolore? Recusandae, vitae ipsa. Quisquam magnam non, nam quia
    praesentium aperiam ratione libero unde quis molestias corrupti sed quo consequatur fugiat delectus aliquid commodi
    impedit dolores eius porro. Est itaque consectetur dolore quae earum, inventore sed architecto quaerat! Molestias
    iure voluptate sapiente ducimus impedit doloribus culpa sequi laudantium sed magni sunt, nemo consectetur a
    veritatis commodi repudiandae asperiores illum minus natus! Aspernatur, ad possimus? Tempore, soluta! Tenetur earum
    corporis nostrum eaque neque!</p>