<div class="my-3 pb-3 bg-white rounded shadow-sm">
    <p class="card-header">Eventos pendientes</p>
    <div class="container" *ngFor="let eventHost of eventsHost">
        <div class="card my-4">
            <div class="row g-0">
                <div class="col-md-10">
                    <div class="card-body">
                        <div class="w-100">
                            <p class="card-title">{{eventHost.name}}</p>
                        </div>
                        <p class="card-text">{{eventHost.date_start | date:"dd MMM. YYYY"}}</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <a>Editar</a>
                    <a class="btn-delete" (click)="onClickDelete(eventHost.id)">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="my-3 pb-3 bg-white rounded shadow-sm">
    <p class="card-header">Eventos finalizados</p>
    <div class="container" *ngFor="let eventHostExpired of eventsHostExpired">
        <div class="card my-4">
            <div class="row g-0">
                <div class="col-md-10">
                    <div class="card-body">
                        <div class="w-100">
                            <p class="card-title">{{eventHostExpired.name}}</p>
                        </div>
                        <p class="card-text">{{eventHostExpired.date_start | date:"dd MMM. YYYY"}}</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <a href="#">Editar</a>
                    <a class="btn-delete" href="#">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
</div>