:root {
    --main-color: #3ec9cc;
    --main-color-hover: #35aaac;
    --main-dark-color: #030728;
    --text-s: 14px;
    --text-b: 20px;
    --shadow-full: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    --shadow-b-r: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
    --f-weight-s: 400;
    --f-weight-m: 600;
    --f-weight-l: 800;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: var(--text-s);
}

button {
    font-size: var(--text-s) !important;
}

.btn-primary{
    border-color: var(--main-color);
    background-color: var(--main-color);
    box-shadow: var(--shadow-b-r);
}

.btn-primary:hover{
    border-color: var(--main-color-hover);
    background-color:var(--main-color-hover);
}

h1{
    font-weight: var(--f-weight-l);
}

h2{
    font-weight: var(--f-weight-m);
}





